body {
  font-family: Arial, sans-serif;
  background: #08043d;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  border: 1px;
}

h1 {
  text-align: center;
}

.switch-row {
  margin-bottom: 15px;
}

.step-block {
  margin-top: 25px;
}

button {
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: #002fff;
  color: white;
}

button[disabled] {
  background: #ccc;
  cursor: not-allowed;
}

.word-box,
.output-box {
  margin-top: 10px;
  padding: 15px;
  background: #000000;
  color: #ffffff;
  min-height: 60px;
}
.word-panel {
  position: absolute;
  left: 360px;
  top: 45px;
  width: 250px;
  height: 350px;
  overflow-y: scroll;
  color: #fff;
  background-color: #002fff;
  border: 1px solid #002fff;
  padding: 10px;
  z-index: 10;
}

.word-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.word-panel li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.word-panel li:hover {
  background: #2c2929;
}

#verify-seed {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  font-family: 10px;
}

#verify-seed ul {
  list-style-type: none;
}

#verify-seed ul li {
  margin: 4px 0;
  font-size: 10px;
}

#verify-seed ul li a {
  color: #002fff;
  text-decoration: none;
  font-weight: bold;
}

#verify-seed ul li a:hover {
  text-decoration: underline;
}

#verify-seed .note {
  margin-top: 4px;
  font-size: 6px;
  text-align: center;
}
